@model IEnumerable<Dogue.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="centerMe">Users Manager</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Register New User", "Register", "Account") |
            @Html.ActionLink("Return to Admin Menu", "AdminMenu", "Manage")
        </p>
        <table id="datatable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName, "User Email")
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>"Apologies, You are not authorized to see this information.</p>
    }
</div>