@model IEnumerable<Dogue.EF.DATA.OwnerAsset>

@{
    ViewBag.Title = "Owner Asset Information";
}
<div class="container">
    <h2 class="centerMe">Animal Client Information</h2>
    
    <p>
        @Html.ActionLink("Create New", "Create", "OwnerAssets") |

        @if (User.IsInRole("Admin"))
        {
           <a href="@Url.Action("ClientMenu","Home")">Return to Admin Menu</a>

        }
        else if (User.IsInRole("Agent") || User.IsInRole("Photographer"))
        {
            @Html.ActionLink("Return to Contractor Menu", "ClientMenu", "Home")
        }
        else
        {
            @Html.ActionLink("Return to Client Menu", "ClientMenu", "Home")
        }
    </p>
    <table  id="datatable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetInfo)
                    </td>

                    <td>
                      <img src="~/Content/assets/Image/t_@item.AssetPhoto" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialNotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetID }) |
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetID })
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>