@model IEnumerable<Dogue.EF.DATA.OwnerInformation>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="centerMe">Owner Information</h2>


    <p>
        
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Register", "Account")">Register New User</a> <span>|</span> @Html.ActionLink("Return to Admin Menu", "AdminMenu", "Manage")

        }
        else if (User.IsInRole("Agent") || User.IsInRole("Photographer"))
        {
            @Html.ActionLink("Return to Contractor Menu", "ClientMenu", "Home")
        }
        else
        {
            @Html.ActionLink("Return to Client Menu", "ClientMenu", "Home")
        }
    </p>

    <table id="datatable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainPhoneNumber)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>