@model IEnumerable<Dogue.EF.DATA.Seminar>

@{
    ViewBag.Title = "Seminar Menu";
}

<div class="container">
    <h2 class="centerMe">Seminar Menu</h2>
    <p class="centerMe"> Call Your Local Office to Reserve Your Spot Today!</p>
    @if (User.IsInRole("Admin") || User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Return to Admin Menu", "AdminMenu", "Manage")
    </p>
    }
    <table id="datatable" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SeminarName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SeminarDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeminarName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeminarDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "Details", new { id = item.SeminarID })
                        @if (User.IsInRole("Agent") || User.IsInRole("Admin"))
                        {
                            <span>| </span>@Html.ActionLink("Edit", "Edit", new { id = item.SeminarID })
                        }
                        @if (User.IsInRole("Admin"))
                        {<span>| </span>@Html.ActionLink("Delete", "Delete", new { id = item.SeminarID })
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>