<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Groovin Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    @*<link href="fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">*@

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    @RenderSection("styles", false)
    <!-- =======================================================
    * Template Name: Groovin - v2.1.0
    * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="@Url.Action("Index", "Home")">DOGUE Client Portal</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>

                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li><a href="@Url.Action("Portfolio", "Home")">Gallery</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="drop-down">
                            <a href="@Url.Action("AdminMenu", "Manage")">Admin Menu</a>
                            <ul>
                                <li><a href="@Url.Action("Register", "Account")">Register New User</a></li>
                                <li class="drop-down">
                                    <a href="#">Manage Users</a>
                                    <ul>
                                        <li><a href="@Url.Action("Index","UsersAdmin")">Manage Users</a></li>
                                        <li><a href="@Url.Action("Index","RolesAdmin")">Manage Roles</a></li>
                                    </ul>

                                <li class="drop-down">
                                    <a href="#">Client Information</a>
                                    <ul>
                                        <li><a href="@Url.Action("Index","OwnerInformations")">Owner Information</a></li>
                                        <li><a href="@Url.Action("Index","OwnerAssets")">Client Animal Information</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Portfolio</a></li>

                                <li> <a href="@Url.Action("Index", "Locations")">Locations</a></li>
                                <li><a href="@Url.Action("Index","Reservations")">Reservation Menu</a></li>
                            </ul>
                        </li>

                    }
                    else if (User.IsInRole("Client") || User.IsInRole("Agent") || User.IsInRole("Photographer"))
                    {
                        <li class="drop-down">
                            @if (User.IsInRole("Client"))
                            {
                                ViewBag.MenuMessage = "Client Menu";
                            }
                            else
                            {
                                ViewBag.MenuMessage = "Contractor Menu";
                            }

                            <a href="@Url.Action("ClientMenu", "Home")">@ViewBag.MenuMessage</a>

                            <ul>
                                <li class="drop-down">
                                    <a href="#">Client Information</a>
                                    <ul>
                                        <li><a href="@Url.Action("Index","OwnerInformations")">Owner Information</a></li>
                                        <li><a href="@Url.Action("Index", "OwnerAssets")">Animal Client Information</a></li>
                                    </ul>
                                </li>

                                @if (User.IsInRole("Agent") | User.IsInRole("Photographer"))
                                {
                                    <li><a href="#">Gallery Menu</a></li>
                                    <li><a href="@Url.Action("Index", "Reservations")"> Reservations Menu </a></li>
                                }
                                else
                                {
                                    <li><a href="#">My Gallery</a></li>
                                    <li><a href="@Url.Action("Index", "Reservations")"> My Reservations </a></li>
                                }

                            </ul>
                        </li>
                    }

                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </nav><!-- .nav-menu -->


        </div>
    </header><!-- End Header -->

    <section id="breadcrumbs" class="breadcrumbs">
        <div>

            @*<div class="d-flex justify-content-between align-items-center">

                </div>*@

        </div>
    </section><!-- End Breadcrumbs -->

    @RenderBody()
    <div class="clear"></div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Dogue: A Reservation MockUp Project</h3>
                            <p>
                                Northland, Kansas City, MO, USA<br><br>
                                <strong>Phone:</strong> +1 719 266 2837<br>
                                <strong>Email:</strong> txdmreed@outlook.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="@Url.Action("Index","Home")">Dogue Home</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://www.reedcoding.com/Portfolio">Deborah's Portfolio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://www.reedcoding.com/Link">Teammate Pages</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="http://www.centriq.com">Learn it at Centriq</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Contact","Home")">Contact Me</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Create","Reservations")">Photo Shoots</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Create","Reservations")">Training Packages</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Create","Reservations")">High Intensity Grooming</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Create","Reservations")">Owner Seminars</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Create","Reservations")">Agent Curated Auditions</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4><a href="@Url.Action("Index", "Manage")">Manage Your Client Portal Account Settings</a></h4>
                        <h3><a href="http://www.reedcoding.com">Return To Deborah Reed's Home Site</a></h3>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Deborah Reed</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> || Adapted by Deborah Reed
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", false)

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({ respnsive: true });
        });

        //use the selector values found (or declared) in your style sheet for the active class
        //– for the code below your stylesheet would look like: .mainmenu ul li.selected a {//code}

        $('.nav-menu li').each(function () {

            //in this example the class is attached to the li, so you must go one level further to
            //check the href value of the anchor tag and ensure it matches what is found in the //browser URL

            if ($(this).find('a').attr('href') == window.location.pathname) {

                //if they match add the correct class name. $(this) refers to the li
                //(the last item in the DOM specified before the each function)

                $(this).addClass('active');

            }
            if (window.location.pathname == 'home/index' || window.location.pathname == '/') {
                $('#liHome').addClass('active');
            }
        });

    </script>

</body>

</html>
