<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3 class="centerMe">Welcome to Dogue Magazine's<br /> Client Portal</h3>
                        <p>
                            Dogue Magazine is the world's premire leaders of Animal Fashion media. We have the largest stable of world renowned animal stars. Our clients can be found on the big screen, on your favorite TV show, in magazine and ad spreads, all over the internet and just about everywhere. With seven state-of-the-art facilities all over the country, we are never too far away to help you get ready for that next big break.
                        </p>
                        <h4 class="centerMe">Our Client Portal -- Your Client Portal</h4>
                        <p>The Client Portal was designed so our Agents, Clients, Photographers and Editors can work together to keep our stock of media stars looking great, acting like pros and fully prepaired with up-to-date photo portfolios. </p>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bxs-bookmark-star"></i>
                                <h4>Agents</h4>
                                <p>Agents can book auditions for their clients and review their latest materials and resumes.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-message-rounded-check"></i>
                                <h4>Editorial Staff</h4>
                                <p>Through the portal, our editorial staff have access to a virtually endless pool of "look" options to find that perfet pet for the job.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-camera"></i>
                                <h4>Clients</h4>
                                <p>Our Clients can use the portal to book their own photoshoots, mega grooming services, training sessions and seminars. All of this helps keep your Animal Client at the top of their game.</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-images"></i>
                                <h4>Photographers</h4>
                                <p>Our photographers can view the galleries for new potenial subjects, as well as upload a client's completed shoot material directly to the portal.</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">443</span>
                        <p><strong>Happy Clients</strong> all over the country.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-ui-camera"></i>
                        <span data-toggle="counter-up">53,000</span>
                        <p><strong>Photoshoots</strong> per year.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-book"></i>
                        <span data-toggle="counter-up">80,000</span>
                        <p><strong>Published Clients</strong> in ads, tv and movies every year. </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-building-alt"></i>
                        <span data-toggle="counter-up">7</span>
                        <p><strong>State-Of-The-Art Faclilities</strong> all over the country. </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>Must</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-ui-camera"></i></div>
                    <h4 class="title"><a href="@Url.Action("Create","Reservations")">Photo Shoots</a></h4>
                    <p class="description">When you book a photo shoot with us, you won't just show up, snap a few shots, and go.  No, this is full grooming, dressing services, with sets and theme supervision. You and your agent will be able to choose from dozens of beautifully edited shots. <a href="@Url.Action("Create","Reservations")">Book Now</a> or call ahead for more information.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-dog"></i></div>
                    <h4 class="title"><a href="@Url.Action("Create","Reservations")">Training</a></h4>
                    <p class="description">From basic obediance to advanced tricks and show pieces, we have trainers who can work with nearly any animal to get them ready for their close up.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-horse-head-1"></i></div>
                    <h4 class="title"><a href="@Url.Action("Create","Reservations")">High Intensity Grooming</a></h4>
                    <p class="description">Booking a grooming day with us is not just your average mani-pedi day. Our world-class design teams so everything needed to make your star shine. Feathers to fur. Hooves to hissers. We dye. We crimp. We brush. We braid. We sooth and so much more. Your four-legged friend will be ready for the runway when we get through. Most animales accepted.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-teacher"></i></div>
                    <h4 class="title"><a href="@Url.Action("Index","Seminars")">Seminars</a></h4>
                    <p class="description">Our virtual and on campus seminars range in topics from grooming and care techniches to better business practices and the newest trends in the industry.  The best way to keep your pet pal on top of their game is to stay on top of yours. Check out our seminar lists today.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-hour-glass"></i></div>
                    <h4 class="title"><a href="">In App Audition Booking, Coming Soon</a></h4>
                    <p class="description">Our developers are hard at work mapping out new ways to make the client portal more user friendly. In the near future, you will find all of your audition bookings, right here. Keep check in with us to see the changes in actin. </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-email"></i></div>
                    <h4 class="title"><a href="@Url.Action("Contact","Home")">Let Us Know</a></h4>
                    <p class="description">We here at Dogue, are always interested in what our clients and readers have to say. Please, feel free to reach out to your agent, or nearest facility if you have any questions or concerns. You can also send an email from here in the portal, as well.</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>One Top Notch Team</h2>
                <p>This class of Centriq Grads got me through the ups and downs. Below you will find links to their AMAZING final project MockUps. for their personal sites and more information remove the "fsdp" from each url, or click the LinkedIn icon. Click in and let them know what you think.</p>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Cade.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Cade Hocroffer</h4>
                                <p><a href="http://www.fsdp.cadehocroffer.com">fsdp.cadehocroffer.com</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/cade-hocraffer-1a299a191/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Chad.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Chad Way</h4>
                                <p><a href="http://www.fsdp.chadway.net" target="_blank"> Audition Solutions</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/chad-way-34349b1b7/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Christina.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Christina Zuniga</h4>
                                <p><a href="http://www.fsdp.christinazuniga.com">ZipNTuck</a></p>
                                <div class="social">
                                    <a href="#"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Male developer.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Damian Lentz</h4>
                                <p><a href="http://www.fsdp.djlentz.com">fsdp.djlentz.com</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/damian-lentz/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Elizabeth.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Elizabeth Needham</h4>
                                <p><a href="http://www.fsdp.youneedham.net">Maid in KC</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/elizabeth-needham-726155103/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Justin2.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Justin Kennedy</h4>
                                <p><a href="http://www.fsdp.justinlkennedy.com">Just Act! Talent Manager</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/justinlkennedy/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Logan.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Logan Rothrock</h4>
                                <p><a href="http://www.fsdp.loganrothrock.com">Educ.</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/logan-rothrock-5ba24a1b2/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Nick.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Nicholas Zuniga</h4>
                                <p><a href="http://www.fsdp.nicholaszuniga.com/">Vicks Vase Cleaners</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/nicholas-zuniga-0879081b7/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Tyler.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Tyler Fierro</h4>
                                <p><a href="http://www.fsdp.tylerfierro.com">fsdp.tylerfierro.com</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/tyler-fierro-a849041b7/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->

                <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="~/Content/assets/img/team/Zach2.jpg" class="img-fluid rounder" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Zachary Mallicoat</h4>
                                <p><a href="http://www.fsdp.ztmallicoat.com">fsdp.ztmallicoat.com</a></p>
                                <div class="social">
                                    <a href="https://www.linkedin.com/in/zacharymallicoat/"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--End of teammate-->
            </div>
        </div>
    </section><!-- End Team Section -->


</main><!-- End #main -->