@model IEnumerable<Dogue.EF.DATA.Location>

@{
    ViewBag.Title = "Index";
}


<h2 class="centerMe">Location Menu</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Locations") | @Html.ActionLink("Return to Admin Menu", "Admin Menu", "Manage")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerReservationLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoReservationLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroomerReservationLimit)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrainerReservationLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoReservationLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroomerReservationLimit)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                </td>
            </tr>
        }

    </table>
}
else
{
<h1 class="centerMe">Sorry, this page is restricted.</h1>
}